/storage/framework
!/storage/framework/.gitignore
/storage/debugbar
!/storage/debugbar/.gitignore
/storage/logs
!/storage/logs/.gitignore
/storage/xdebug/*
/.dockerignore
.git*
/test_results
/docker
/bootstrap/cache
!/bootstrap/cache/.gitignore
/.circleci